@import '../mixins/flex.mixin';

.flex {
  @include flex;

  &--column {
    @include flex;
    flex-flow: column;
  }

  &--row {
    @include flex;
    flex-flow: row;
  }

  &--space-between {
    @include flex;
    justify-content: space-between;
  }
}

.p10 {
  padding: 10px;
}

.p5 {
  padding: 5px;
}

.mbottom10 {
  margin-bottom: 10px;
}

.col-12 {
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  max-width: 100%;
}
.col-6 {
  flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  max-width: 50%;
}
.col-3 {
  flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  max-width: 25%;
}
