<mat-card class="example-card">
  <mat-card-header *ngIf="person">
    <mat-card-title>
      {{person.name}}
    </mat-card-title>
    <mat-card-subtitle>
      mass: {{person.mass}}
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/default_person.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <div *ngFor="let prop of person | keyvalue">
      <ng-container *ngIf="!excludedProperties.includes(prop.key)">
        <span class="label">{{prop.key}}: </span>
        <span class="p5" [innerHTML]="prop.value | personProperties:prop.key"></span>
      </ng-container>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            (click)="getPerson()">
      Draw
    </button>
  </mat-card-actions>
</mat-card>
